# ========== Build ==========
/bin/
/build/
/out/
target/
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!src/**/build/
gradle-app.setting
gradle-app.iml
.gradletasknamecache

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# Java Heap Dump
*.hprof
hs_err_pid*
replay_pid*

# ========== Logs & Temp ==========
*.log
logs/
*.tmp
test-output/
surefire-reports/

# ========== IDE ==========
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources*
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea_modules/
.idea/replstate.xml
.idea/sonarlint/
.idea/**/sonarIssues.xml
.idea/**/markdown-navigator*
.idea/httpRequests
.idea/codestream.xml
.idea/**/azureSettings.xml
.idea/$CACHE_FILE$

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/
!src/**/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# ========== OS ==========
# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# ========== 민감 정보 / 환경 파일 ==========
.env
*.env
application-dev.yml
application-local.yml
application-*.properties